<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script type="text/javascript">
    function chkcontrol(j) {
    var total=0;
    for(var i=0; i < document.tablelist.ckb.length; i++){
        if(document.tablelist.ckb[i].checked){
            total=total +1;}}
        if(total != 2){
            document.getElementById("seatswap").style.visibility="hidden";
            return false;
        }
        else {document.getElementById("seatswap").style.visibility="visible";}
} </script>
  </head>
  <body>
    <h1>{{ tournament.system }} Tournament {{ tournament.name }}</h1>
    <form action="/changepoints?" method="get">
    <input type="hidden" name="TKEY" value="{{ tournament.key.urlsafe() }}">
    <h2>Point Size:
        {% if tournament.currentround == 0 %}
        <input type="number" name="points" style="width: 40px;" value="{{tournament.pointsize}}"/>
        <input type="submit" value="Change"></h2>
        {% else %}
        {{tournament.pointsize}}
        {% endif %}
        </form>
    <h2>Round: {{tournament.currentround}}</h2>
    {% if tournament.currentround > 0 %}
        <h2>Round Length: {{thisround.length}} mins</h2>
        <h2>Scenario: {{thisround.scenario}}</h2>
    <form name="tablelist" action="/swapplayers?" method="get">
    <input type="hidden" name="TKEY" value="{{ tournament.key.urlsafe() }}">
      <table>
        <tr>
            <th>Table</th>
            <th>Player A</th>
            <th>A Score</th>
            <th>B Score</th>
            <th>Player B</th>
            <th>Finished?</th>
        </tr>
        {% for table in tables %}
        <tr>
            <td>{{table.number}}</td>
            {% if table.number == 0 %}
                <td><label for="{{table.players[0].get().key.urlsafe()}}">
                    <input type="checkbox" name="ckb" id="{{table.players[0].urlsafe()}}" value="{{table.key.urlsafe()}}0" onclick="chkcontrol('{{table.players[0].urlsafe()}}')";>
                    {{table.players[0].get().name}}</label></td>
                <td align=center>Bye</td>
                <td align=center>Bye</td>
                <td align=center>Bye</td>
            {% else %}
                <td><label for="{{table.players[0].get().key.urlsafe()}}">
                    <input type="checkbox" name="ckb" id="{{table.players[0].urlsafe()}}" value="{{table.key.urlsafe()}}0" onclick="chkcontrol('{{table.players[0].urlsafe()}}')";>
                    {{table.players[0].get().name}}</label></td>
                <td align=center>{{table.players[0].get().score}}</td>
                <td align=center>{{table.players[1].get().score}}</td>
                <td><label for="{{table.players[1].get().key.urlsafe()}}">
                    {{table.players[1].get().name}}
                    <input type="checkbox" name="ckb" id="{{table.players[1].urlsafe()}}" value="{{table.key.urlsafe()}}1" onclick="chkcontrol('{{table.players[1].urlsafe()}}')";></label></td>
            {% endif %}
            <td>{{table.finished}}</td>
            {% if table.number > 0 %}
            <td><a href="results?TABKEY={{ table.key.urlsafe() }}">results</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" id="seatswap" value="Swap player seating" style="visibility:hidden">
    </form>
    {% if error=='SWAP' %}Couldn't swap seats, it would result in matching players that have already played each other
      {% endif %}
    {% endif %}
    <h2>Players: {{ tournament|getplayercount }}</h2>
    <table>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Faction</th>
            <th>Note</th>
            <th>Score</th>
            <th>SoS</th>
            <th>CP</th>
            <th>PC Destroyed</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{player.number}}</td>
            <td>{{player.name}}</td>
            <td>{{player.faction}}</td>
            <td>{{player.note}}</td>
            <td align="center">{{player.score}}</td>
            <td align="center">{{player.sos}}</td>
            <td align="center">{{player.cp}}</td>
            <td align="center">{{player.pcdest}}</td>
            <td>{% if player.dropped == True %}
                dropped</td>
                {% else %}
                <a href="dropplayer?PKEY={{ player.key.urlsafe() }}&TKEY={{ tournament.key.urlsafe() }}">drop</td>
                {% endif %}
        </tr>
        {% endfor %}
      </table>
      <br>
    {% if tournament.currentround == 0%}
    <input type="button" onclick="location.href='/pair?TKEY={{ tournament.key.urlsafe() }}';" value="Perform pairings for round {{tournament.currentround + 1}}"/>
    {% elif thisround|isFinished %}
            {% if tournament|clearWinner %}
            <h1>Tournament over, {{players[0].name}} wins!</h1>
            {% else %}
            <input type="button" onclick="location.href='/pair?TKEY={{ tournament.key.urlsafe() }}';" value="Perform pairings for round {{tournament.currentround + 1}}"/>
            {% endif %}
    {% else %}
    Please enter remaining results for this round
    {% endif %}
    {% if tournament.currentround == 0 %}
    <form action="/addplayer?" method="get">
    <input type="hidden" name="TKEY" value="{{ tournament.key.urlsafe() }}">
    <fieldset>
    <legend>Add new players:</legend>
      Name:<input type="text" name="name" required autofocus>
      Faction:
            <select name="faction">
                <option value="Cryx">Cryx</option>
                <option value="Cygnar">Cygnar</option>
                <option value="Khador">Khador</option>
                <option value="Protectorate of Menoth">Protectorate of Menoth</option>
                <option value="Retribution of Scyrah">Retribution of Scyrah</option>
                <option value="Convergence of Cyriss">Convergence of Cyriss</option>
                <option value="Mercenaries">Mercenaries</option>
                <option value="Circle Orboros">Circle Orboros</option>
                <option value="Legion of Everblight">Legion of Everblight</option>
                <option value="Skorne">Skorne</option>
                <option value="Trollbloods">Trollbloods</option>
                <option value="Minions">Minions</option>
            </select>
        Notes:<input type="text" name="notes">
      <input type="submit" value="Add">
        </fieldset>
    </form>
    {% endif %}
    <br>
    <a href="/">Back to Tournament list</a> | 
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
  </body>
</html>
{% endautoescape %}