body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

label {
    cursor: pointer;
    display: block;
    text-align: center;
}